<!--
    Given an API returning a list of todos, we want to display the list in a performant way.

    Here are the functional requirements:
    - Initially, display the first 20 todos. 
    - On the top of the page, display the total number of loaded todos.
    - Display a "Load More" button, and every time the user clicks on it, fetch and display 20 more todos.
    - When the total number of loaded todos reaches 100, the "Load More" button should be hidden.

    Use this endpoint URL to get the todos: 'https://dummyjson.com/todos?limit=20&skip=0'.

    You may change the skip and limit query params to load new todos.
    The endpoint will return the following structure with a total of 20 todos:
    {
        "todos": [
            {
            "id": 1,
            "todo": "Do something nice for someone I care about",
            "completed": true,
            "userId": 26
            },
        ],
    }
-->

<style>
    html, body {
        height: 100%;
        width: 100%;
    }

    #root {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        color: #000;
    }

    .load-more-btn {
        display: flex;
        justify-content: center;
    }

    #todos {
        margin: 1rem 0;
    }
</style>

<div id="root">
    <div id="todos"></div>
    <div class="load-more-btn">
        <button>Load more</button>
    </div>
</div>

<script>
    const rootElement = document.getElementById("root"),
        todosElement = document.getElementById("todos"),
        buttonElement = document.getElementsByTagName("button")[0];

    let fetchCounter = 0,
        isEndOfPage = false,
        todos = "";

    const writeTodos = (todoArray) => {
        let todosStart = `<div>${todoArray.length}</div><ul>`;

        if (todoArray[0].id === 1) {
            todoArray.map(todo => todos += `<li>${todo.todo}</li>`);
            todosElement.innerHTML = todosStart + todos + '</ul>';
        } else {
            todosStart = `<div>${todoArray[todoArray.length - 1].id}</div><ul>`;
            todoArray.map(todo => todos += `<li>${todo.todo}</li>`);
            todosElement.innerHTML = todosStart + todos + '</ul>';
        }
    }

    const fetchData = (counter) => {
        url = `https://dummyjson.com/todos?limit=20&skip=${fetchCounter * 20}`;

        if (fetchCounter < 6)
            fetch(url)
                .then(response => response.json())
                .then(result => writeTodos(result.todos));
    }

    fetchData();

    buttonElement.addEventListener("click", () => {
        fetchCounter++;
        fetchData(fetchCounter);
        if (fetchCounter + 1 === 5) buttonElement.disabled = true;
    });
</script>